@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", serif;
}

.ff_redhat {
  font-family: "Red Hat Display", serif;
}
.slick-disabled {
  pointer-events: none;
}
.custom-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid orange;
  border-radius: 50%; /* Makes the checkbox round */
  outline: none;
  cursor: pointer;
  position: relative;
}

.custom-checkbox:checked {
  background-color: orange;
}

.custom-checkbox:checked::after {
  content: "✔";
  width: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10px;
  /* background-color: white; */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.svgg {
  height: calc(100% + 20px);
  left: 50%;
  overflow: visible;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 20px);
}
.bg-count {
  background-image: url("../img/count-bg.jpg");
  background-position: center;
  position: relative;
  border-radius: 0px 0 50% 50%;
  overflow: hidden;
}
.bg-count::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  background-color: #1e1a3c;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
@media (max-width: 640px) {
  .bg-count {
    border-radius: 0px 0 40% 40%;
  }
}
